.hero {
  --hero-padding-top: calc(30px + 50px); /* 50px is the navbar height */

  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
  border-radius: 1rem;
  margin-block-start: var(--hero-padding-top);
  margin-inline: 2rem;
  padding: 1.5rem 1rem;
  position: relative;
}

.hero p {
  color: #ebebeb;
  padding-block-end: 1rem;
  text-transform: lowercase;
}